body{
    color: rgb(0, 0, 0);
    background-image: url();
}
header{
    background-color: rgb(53, 75, 200);
    text-align: center;
    align-items: center;
    display: flex;
    font-size: 150;
}
section{
color: antiquewhite;
}
.lu{
    background-image: url(Dultier03320.jpg);
}